# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.spec

# Ambientes virtuais
venv/
.venv/
env/
.env/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Agentes / workflows internos
.agents/
